/* olive green = 999B84
pinkish sand = D8AC9C
pale pink = EFD9D1
pinkish white = F4EEED */

/* pink/gray envelope https://i.pinimg.com/originals/96/5b/0d/965b0d610762035d2952315568fbe300.jpg
white gray enveleope https://i.pinimg.com/originals/41/40/cb/4140cbaa5d124f12d9c542639a436823.jpg
https://i.pinimg.com/originals/a3/08/22/a30822c4ec5e469273ba9e9de05da4a8.jpg
https://i.pinimg.com/originals/71/66/ba/7166baf03d78131bf6dada62d3fc2a92.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg7-Xm83F0bDx-toSHD4MgwJ-V9aOo50b9O4VaLuZIRlYd4mO8QUy8ZmnEd08EEDl6p5Y&usqp=CAU
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvPXKnd5-Cpc1oEd3CHOEd2SsdArdkrgnKi3sVyUd4q25ZBOGZlBtLL59wuJz8MJLJCf0&usqp=CAU
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL_zDOtfRpQdIr-JzVOk1ZuYoc_eAMY-9nMGZlq11mzwKo38i3hsuFCsZLTVeXu8yzcKg&usqp=CAU
https://i.pinimg.com/originals/4f/21/4b/4f214b9fc3d02b62761e3951b4faf9c5.png */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.homepage {
  padding: 2em; 
  height: 130vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  background-color: #999B84;
}

.home_square{
  padding: 2em; 
  height: 50vh;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
  overflow:visible;
  position: absolute;
  background-image: url('https://i.pinimg.com/originals/a3/08/22/a30822c4ec5e469273ba9e9de05da4a8.jpg')
}


.header{
background-color: #F4EEED;
color: #D8AC9C;
font-size: 25px;
font-weight: 500;
height: 35px;
width: 100%;
text-align: center;

}

.navbar{
  padding-inline-start: 5%;
  background-color:#999B84;
  height: 35px;
  width: 100%

}

.nav_home{
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
} 

.nav_how{
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cards{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cal {
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_box{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_about{
  padding-left: 20px;
  padding-right: 40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_login{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_register{
  padding-left: 20px;
  text-decoration: none;

  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

/* .greeting_card{
  display: grid;
} */

.message1 {
  padding-bottom: 30px;
}
.message2 {
  padding-bottom: 30px;
}
.message3 {
  padding-bottom: 30px;
}
.message4 {
  padding-bottom: 30px;
}
.message5 {
  padding-bottom: 30px;
}
.message6 {
  padding-bottom: 30px;
}
.message7 {
  padding-bottom: 30px;
}
.message8 {
  padding-bottom: 30px;
}

.theme_search{
  padding-bottom: 20px;
}

.audience_search{
  padding-bottom: 20px;
}

.login_page{
background-image: url("https://wallpaperaccess.com/full/3693524.jpg");
background-size:50%;
height: 90vh;
margin-top: -25px;
padding-left: 400px;
background-repeat: no-repeat;
background-color: #EFD9D1;
}

.login_header{
padding-top: 70px;
padding-left: 300px;
font-size: 30px;
}

.login_subheader{
padding-top: 10px;
padding-left: 300px;
font-size: 20px;
}

.credentials{
  padding-top: 10px;
  padding-left: 300px;
  font-size: 20px;
}

.username::after{
padding-right: 15px;
content: "\a";
white-space: pre;
}

.password::before{
  padding-right: 15px;
  content: "\a";
  white-space: pre;
}

.password::after{
  content: "\a";
  white-space: pre;
}

.username2::after{
  padding-right: 15px;
  content: "\a";
  white-space: pre;
  }
  
  .password2::after{
    padding-right: 15px;
    content: "\a";
    white-space: pre;
  }

.login_button::before{
  padding-right: 15px;
  content: "\a";

}

.login_button::after{
  padding-right: 15px;
  content: "\a";
}
