/* olive green = 999B84
pinkish sand = D8AC9C
pale pink = EFD9D1
pinkish white = F4EEED */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

/* .homepage {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQvytxuev9r_orJ6FGXdDzXKHh3WaopvPcgEA&usqp=CAU");
} */

.header{
background-color: #F4EEED;
color: #D8AC9C;
font-size: 25px;
font-weight: 500;
height: 35px;
align-items: center;
text-align: center;


}

.navbar{
  padding-inline-start: 5%;
  background-color:#999B84;
  height: 35px

}

.nav_home{
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
} 

.nav_how{
  padding-left: 20px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cards{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cal {
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_box{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_about{
  padding-left: 20px;
  padding-right: 40px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_login{
  padding-left: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_register{
  padding-left: 20px;
  text-decoration: none;

  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.greeting_card{
  margin-left: 75px;
}

.message1 {
  padding-bottom: 30px;
}
.message2 {
  padding-bottom: 30px;
}
.message3 {
  padding-bottom: 30px;
}
.message4 {
  padding-bottom: 30px;
}
.message5 {
  padding-bottom: 30px;
}
.message6 {
  padding-bottom: 30px;
}
.message7 {
  padding-bottom: 30px;
}
.message8 {
  padding-bottom: 30px;
}

.theme_search{
  padding-bottom: 20px;
}

.audience_search{
  padding-bottom: 20px;
}

