/* olive green = #999B84
pinkish sand = #D8AC9C
pale pink = #EFD9D1
pinkish white = #F4EEED */
/* dark gray = #50575C */
/* blue = #2e5881 */

/* pink/gray envelope https://i.pinimg.com/originals/96/5b/0d/965b0d610762035d2952315568fbe300.jpg
white gray enveleope https://i.pinimg.com/originals/41/40/cb/4140cbaa5d124f12d9c542639a436823.jpg
https://i.pinimg.com/originals/a3/08/22/a30822c4ec5e469273ba9e9de05da4a8.jpg
https://i.pinimg.com/originals/71/66/ba/7166baf03d78131bf6dada62d3fc2a92.jpg
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRg7-Xm83F0bDx-toSHD4MgwJ-V9aOo50b9O4VaLuZIRlYd4mO8QUy8ZmnEd08EEDl6p5Y&usqp=CAU
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvPXKnd5-Cpc1oEd3CHOEd2SsdArdkrgnKi3sVyUd4q25ZBOGZlBtLL59wuJz8MJLJCf0&usqp=CAU
https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL_zDOtfRpQdIr-JzVOk1ZuYoc_eAMY-9nMGZlq11mzwKo38i3hsuFCsZLTVeXu8yzcKg&usqp=CAU
https://i.pinimg.com/originals/4f/21/4b/4f214b9fc3d02b62761e3951b4faf9c5.png */

/* 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* //HOMEPAGE  */

.homepage {
  /* background-image: linear-gradient(to right, #D8AC9C -5%, #EFD9D1 10%, #d1e1f1 30%, #747561 120%); */
  height: 90vh;
  margin-top: -30px;
  font-family: sans-serif;
  font-size: 20px;
  color:#2e5881 ;
  text-align: center;
  background-repeat: repeat;
  background-size: 50%;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSglmzdDDumZbrJ3GPKUSxQklPGGY-lovSnKx5un9PIUQVl6ICHR9-sstFIjFgoznIln8Q&usqp=CAU");
}

.home_square{
  background-color: white;
  border-radius: 10px;
}

.home_quote{
  background-image: linear-gradient(to right, #D8AC9C 0%, #2e5881 40%, #999B84 100%);
  color: #e2c5bb;
  font-size: 25px;
  font-weight: 500;
  height: 40px;
  width: 100%;
  display: inline-block;
  margin-top: 115px;
  text-align: center;
}

/* //HEADER  */

.header{
color: #e2c5bb;
font-size: 25px;
font-weight: 600;
height: 35px;
padding-top: 4px;
width: 100%;
text-align: center;
background: #f6f7f8;
background-image: linear-gradient(to right, #D8AC9C 0%, #EFD9D1 20%, #2e5881 40%, #999B84 100%);
display: inline-block;
position: relative; 
}
 
/* //NAVBAR  */

.navbar{
  padding-inline-start: 0%;
  background-color:#999B84;
  height: 30px;
  width: 100%;
  padding-top: 8px;
  text-decoration:lightblue;
  text-align: center;
}

.nav_home{
  padding-left: -20px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
} 

.nav_how{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cards{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_cal {
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_box{
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_about{
  padding-left: 10px;
  text-decoration: none;
  padding-right: 50px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_login{
  padding-left: 30px;
  color: white;
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.nav_register{
  padding-left: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

/* .greeting_card{
  display: grid;
} */

.message1 {
  padding-bottom: 30px;
}
.message2 {
  padding-bottom: 30px;
}
.message3 {
  padding-bottom: 30px;
}
.message4 {
  padding-bottom: 30px;
}
.message5 {
  padding-bottom: 30px;
}
.message6 {
  padding-bottom: 30px;
}
.message7 {
  padding-bottom: 30px;
}
.message8 {
  padding-bottom: 30px;
}

.theme_search{
  padding-bottom: 20px;
}

.audience_search{
  padding-bottom: 20px;
}

/* // LOGIN  */

.login_page{
background-image: url("https://wallpaperaccess.com/full/3693524.jpg");
background-size:50%;
height: 90vh;
margin-top: -25px;
padding-left: 450px;
background-repeat: no-repeat;
background-color: #EFD9D1;
}

.login_header{
padding-top: 80px;
padding-left: 300px;
font-size: 30px;
font-family: Raleway;
color:#50575C
}

.login_subheader{
padding-top: -10px;
padding-left: 300px;
font-size: 25px;
font-family: Karla;
color:#50575C

}

.credentials{
  padding-top: -55px;
  margin-top: -5px;
  padding-left: 300px;
  font-size: 20px;
}

.username::after{
padding-right: 15px;
content: "\a";
white-space: pre;
font-family: sans-serif;
}

.password::before{
  padding-right: 15px;
  content: "\a";
  white-space: pre;
}

.password::after{
  content: "\a";
  white-space: pre;
}

.username2::after{
  padding-right: 15px;
  content: "\a";
  white-space: pre;
  }
  
  .password2::after{
    padding-right: 15px;
    content: "\a";
    white-space: pre;
  }

.login_button{
  padding-right: 15px;
  background-color: #EFD9D1;
  transition-duration: 0.4s;
  font-size: 18px;
}

.login_button:hover {
  background-color: #50575C;
  color:#eed8d1;
}

/* //HOW IT WORKS  */

.how_it_works_page{
  background-image: url("https://i.pinimg.com/originals/8e/06/ea/8e06ea83cb664d889cc799b5d72f8330.jpg");
  background-size:50%;
  height: 100vh;
  margin-top: -30px;
  padding-left: 450px;
  background-repeat: no-repeat;
  background-color: #EFD9D1;

}

.how_it_works_header{
  color:  #696b56;
  font-size: 30px;
  font-weight: 550;
  align-content: center;
  margin-left:  230px;
  margin-bottom: 5px;
  padding-top: 20px;
}

.how_cards{
   padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: 13px;
    font-family: sans-serif;
    color:#50575C;
    box-shadow: 3px 3px #C3CCCE, -3px -3px #C3CCCE;
    width: 70%;
    box-sizing: border-box;
    margin-left: 220px;
    margin-top: -20px;
}

.how_it_works_button{
  padding-right: 15px;
  background-color: #50575C;
  color:#EFD9D1;
  transition-duration: 0.4s;
  font-size: 14px;
}

.how_it_works_button:hover {
  background-color: #EFD9D1;
  color:#50575C;
}

/* //CARDS  */

.card_container{
  background-image: linear-gradient(to right, #D8AC9C 0%, #EFD9D1 20%, #edf1f5 40%, #b3b4a3 100%);
  height: 900vh;
}

.card_filters{
  width: 50%;
  padding-left: 40px;
  margin-top: -70px;
}

.checkout_button{
  padding-right: 12px;
  background-color: #50575C;
  color:#EFD9D1;
  transition-duration: 0.4s;
  font-size: 20px;
  margin-left: 1100px;
}

.checkout_button:hover {
  background-color: #EFD9D1;
  color:#50575C;
}

.greeting_card{
  display: grid;
  grid-template: 250px / auto auto auto;
  grid-gap: 70px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;

}

.card_img{
  object-fit: contain;
  width: auto;
  height: 40%;
  border-color: #999B84;
  border-style:solid;
  border-radius: 8px;
}

.card_title{
margin-bottom: -15px;
}

.card_price{
  margin-bottom: 10px;

}

.add_to_cart{
  background-color: #50575C;
  color:#EFD9D1;
  transition-duration: 0.4s;
  font-size: 18px;
  justify-content: center;
}

.add_to_cart:hover {
  background-color: #EFD9D1;
  color:#50575C;
}

/* //ABOUT KISMET */

.about_kismet{
  background-image: url("https://i.pinimg.com/originals/8e/06/ea/8e06ea83cb664d889cc799b5d72f8330.jpg");
  background-size:50%;
  height: 90vh;
  margin-top: -25px;
  padding-left: 450px;
  background-repeat: no-repeat;
  background-color: #EFD9D1;
  }

  .about_info{
    padding-top: 90px;
    padding-left: 210px;
    font-size: 25px;
    font-family: Raleway;
    color:#50575C
    }

    /* //KISMET BOX */

    .order_page{
      background-image: linear-gradient(to right, #D8AC9C -5%, #EFD9D1 10%, #2e5881 30%, #D8AC9C 120%);
      height: 270vh;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
    }

    .order_header{
      color: #D8AC9C;
      text-align: center;
      padding-top: 10px;
    }

    .order_card{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 30px;
      font-family: sans-serif;
      font-size: 18px;
      margin-top: -10px;
      padding-left: 50px;
      padding-right: 50px;
      text-align: center;
      text-decoration:#3e4a52;
      background-color: white;
      border-radius: 10px;
      margin-left:70px;
      margin-right:70px;
      padding-bottom: 30px;
      padding-top: 30px;

    }

    .card_button{
      background-color: #2e5881;
      color:#EFD9D1;
      transition-duration: 0.4s;
      margin-top: 15px
    }

    .card_button:hover {
      background-color: #EFD9D1;
      color:#2e5881;
    }

    .order_img{
      object-fit: contain;
      width: 150px;
      height: 150px;
      border-color: #999B84;
      border-style:dotted;
      border-radius: 8px;
    }

    .solo_order{
      padding-bottom: -40px;
      margin-bottom: 10px;
      color: #3e4a52
    }

    .checkout{
      font-family: sans-serif;
      font-size: 20px;
      text-align: center;
      width: 98%;
      height: 20%;
      color: #EFD9D1 ;
      display: inline-block;
      position: relative; 
      padding-top: 55px;
      padding-bottom: 10px;
      justify-content: center;
      align-items: center;
      background-image: linear-gradient(to right, #D8AC9C -5%, #EFD9D1 10%, #2e5881 30%, #D8AC9C 120%);
      border-radius: 10px;
      border-color:#D8AC9C;
      border-style: solid;
      border-spacing: 30px;
      margin-left:10px;
      margin-right:70px;
      margin-top: -5px

    }

    .order_button{
      background-color: #50575C;
      color:#EFD9D1;
      transition-duration: 0.4s;
      font-size: 20px;
      width: 18%;
      margin-top: 15px
    }

    .order_button:hover {
      background-color: #EFD9D1;
      color:#50575C;
    }

    /* //ORDER CONFIRMATION */

    .order_confirmation{
      background-image: linear-gradient(to right, #D8AC9C -5%, #EFD9D1 10%, #d1e1f1 30%, #747561 120%);
      height: 240vh;
      padding-left: 100px;
      font-size: 30px;
      color:#2e5881 ;
    }

.calendar_page{
    background-image: linear-gradient(to right, #D8AC9C -5%, #EFD9D1 10%, #2e5881 30%, #D8AC9C 120%);
      height: 270vh;
      justify-content: center;
      align-items: center;
      padding-top: 10px;
}

.subscription_card{
      display: grid;
      grid-template-columns: 1fr 1fr;
      font-family: sans-serif;
      font-size: 18px;
      text-align: center;
      text-decoration:#3e4a52;
      background-color: white;
      border-radius: 10px;
      padding-bottom: 10px;
      padding-top: 10px;
      margin-left: 55%;
      margin-right: 55px;
      margin-bottom: 20px;
}

.event_form{
  margin-top: -60%;
  padding-left: 40px;
}